* {
    color: #f8f8f8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: #282424;
    overflow-y: hidden;
    min-width: 565px;
}
body > div {
    overflow-y: hidden;
    max-height: calc(100vh - 100px);
    min-width: 565px
}

.has-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}